################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S7Backup/bin/Debug
/S7Backup/obj/Debug
/.vs/Tungsten/v15/sqlite3
/.vs/Tungsten/v15/.suo
